
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">animales</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-button  (click)="play(0)"  expand="full" >
      <img src="../../../assets/animales/sonriendo.png" alt="">
    </ion-button>
    <ion-button (click)="play(1)"  expand="full">
      <img src="../../../assets/animales/perro.png" alt="">
    </ion-button>
    <ion-button   (click)="play(2)"  expand="full" > 
      <img src="../../../assets/animales/conejo.png" alt="">
    </ion-button>
    <ion-button   (click)="play(3)"  expand="full">
      <img src="../../../assets/animales/loro.png" alt="">
    </ion-button>
    <ion-button  (click)="play(4)"    expand="full" > 
      <img src="../../../assets/animales/carpincho.png" alt="">
    </ion-button>
  </div>
  
</ion-content>
