

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">numeros</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-button  (click)="play(0)"  expand="full" >1</ion-button>
    <ion-button   (click)="play(1)"  expand="full">2</ion-button>
    <ion-button   (click)="play(2)"  expand="full" > 3</ion-button>
    <ion-button   (click)="play(3)"  expand="full">4</ion-button>
    <ion-button  (click)="play(4)"    expand="full" >5</ion-button>
  </div>
</ion-content>
