
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">colores</ion-title>
    </ion-toolbar>
  </ion-header>
<div>
  <ion-button id="rojo" (click)="play(0)"  expand="full" ></ion-button>
  <ion-button  id="verde" (click)="play(1)"  expand="full"></ion-button>
  <ion-button  id="amarillo" (click)="play(2)"  expand="full" ></ion-button>
  <ion-button  id="azul" (click)="play(3)"  expand="full"></ion-button>
  <ion-button id="rosa" (click)="play(4)"    expand="full" ></ion-button>
</div>
</ion-content>
